index.html
<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width"><title>MIYAZAKI</title><link href="./resources/vendor/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet"><link rel="stylesheet" href="./resources/vendor/swiper/swiper.min.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css"><link rel="stylesheet" href="./resources/styles/Pages/index.css"></head><body><div class="Page"><div class="HeaderLayer"><header class="HeaderSection"><div class="HeaderSection-Inner"><div class="HeaderSection-Inner-LogoBox"><div class="HeaderSection-Inner-LogoBox-Img" style="background: url('./resources/images/Components/HeaderSection/HeaderSection-Inner-LogoBox-Img.png') no-repeat center; background-size: contain;"></div></div><ul class="HeaderSection-Inner-NavGroup"><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">島木の舎について</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">寝室</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">周辺</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">アクティビティ</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">アクセス</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">お問い合わせ</div></li><li class="HeaderSection-Inner-NavGroup-NavItem"><a class="HeaderSection-Inner-NavGroup-NavItem-Text" href="">EN</a><a class="HeaderSection-Inner-NavGroup-NavItem-Text" href="">中</a><a class="HeaderSection-Inner-NavGroup-NavItem-Text" href="">日</a></li></ul><div class="HeaderSection-Inner-HamburgerMenuBtn"><i class="fas fa-bars HeaderSection-Inner-HamburgerMenuBtn-Icon"></i></div></div></header></div><div class="MenuLayer"><nav class="MenuSection"><div class="MenuSection-ListGroup"><a class="MenuSection-ListGroup-ListItem" href="./about.html"><span class="MenuSection-ListGroup-ListItem-MediumText">島木の舎について</span></a><a class="MenuSection-ListGroup-ListItem" href="./about.html"><span class="MenuSection-ListGroup-ListItem-MediumText">寝室</span></a><a class="MenuSection-ListGroup-ListItem" href="./service.html"><span class="MenuSection-ListGroup-ListItem-MediumText">周辺</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">アクティビティ</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">アクセス</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">お問い合わせ</span></a><div class="MenuSection-ListGroup-ListItem"><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">EN</a><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">中</a><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">日</a></div></div></nav></div><div class="BodyLayer"><!-- BigImage--><div class="BigImageSection"><div class="swiper-container"><div class="swiper-button-prev"></div><div class="swiper-button-next"></div><div class="swiper-pagination"></div><div class="swiper-wrapper"><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_01.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-TextBox"><p class="BigImageSection-Frame-Inner-TextBox-Text">2020年秋OPEN</p></div><div class="BigImageSection-Frame-Inner-LogoBox" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame-Inner-Icon.png') no-repeat center; background-size: contain;"></div></div></div></div><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_02.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-TextGroup U_PC_Tategaki"><p class="BigImageSection-Frame-Inner-TextGroup-FirstTextItem">多くの自然に恵まれ、サンゴ礁に囲まれた海が広がる</p><p class="BigImageSection-Frame-Inner-TextGroup-SecondTextItem">川平湾にも程近い、ウミガメやマンタが集まる島の北</p></div></div></div></div><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_03.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-TextGroup U_PC_Tategaki"><p class="BigImageSection-Frame-Inner-TextGroup-FirstTextItem">暮らすように過ごす時間。</p><p class="BigImageSection-Frame-Inner-TextGroup-SecondTextItem">無垢の木に包まれた中に溶け込む青色、藍色。</p></div></div></div></div><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_04.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-TextGroup U_PC_Tategaki"><p class="BigImageSection-Frame-Inner-TextGroup-FirstTextItem">穏やかなくつろぎ</p><p class="BigImageSection-Frame-Inner-TextGroup-SecondTextItem">海風と調和する、木の舎</p></div></div></div></div><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_05.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-SubTextBox"><p class="BigImageSection-Frame-Inner-SubTextBox-SubText">2020年秋OPEN</p></div></div></div></div><div class="swiper-slide"><div class="BigImageSection-Frame"><div class="BigImageSection-Frame-Inner" style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_06.jpg') no-repeat center; background-size: cover;"><div class="BigImageSection-Frame-Inner-SubTextBox"><p class="BigImageSection-Frame-Inner-SubTextBox-SubText">2020年秋OPEN</p></div></div></div></div></div></div></div><div class="NewsSection"><div class="NewsSection-Inner"><div class="NewsSection-Inner-LogoBox"><div class="NewsSection-Inner-LogoBox-Img" style="background: url('./resources/images/Components/NewsPageSection/info-logo.png') no-repeat center; background-size: contain;"></div></div><p class="NewsSection-Inner-TextBox">2020年秋、石垣島山原に<br>
プライベートプールヴィラ<br>
「島木の舍」がオープンします。</p><ul class="NewsSection-Inner-ListGroup"><li class="NewsSection-Inner-ListGroup-ListItem"><div class="NewsSection-Inner-ListGroup-ListItem-DateText">2020.9.20</div><div class="NewsSection-Inner-ListGroup-ListItem-TitleText">秋のアクティビティを更新しました</div></li><li class="NewsSection-Inner-ListGroup-ListItem"><div class="NewsSection-Inner-ListGroup-ListItem-DateText">2020.8.20</div><div class="NewsSection-Inner-ListGroup-ListItem-TitleText">ご予約についてのお願い</div></li><li class="NewsSection-Inner-ListGroup-ListItem"><div class="NewsSection-Inner-ListGroup-ListItem-DateText">2020.7.20</div><div class="NewsSection-Inner-ListGroup-ListItem-TitleText">島木の舍オープンのお知らせ</div></li></ul></div></div><div class="AboutSection"><div class="AboutSection-Frame" style="background: url('./resources/images/Components/AboutSection/AboutSection-Frame.jpg') no-repeat center; background-size: cover;"><div class="AboutSection-Frame-Inner"><div class="AboutSection-Frame-Inner-TextBox"><div class="AboutSection-Frame-Inner-TextBox-Text">鮮烈な青と碧</div></div><div class="AboutSection-Frame-Inner-TitleBox"><div class="AboutSection-Frame-Inner-TitleBox-JaText">島木の舎<br>について</div><div class="AboutSection-Frame-Inner-TitleBox-EnText">toki no Villa</div></div></div></div></div><div class="ConseptSection"><p class="ConseptSection-TextBox U_Tategaki">石垣島 川平 山原、<br>
多くの自然に恵まれ、<br>
サンゴ礁に囲まれた海が広がる、<br>
川平湾にも程近い、<br>
ウミガメやマンタが集まる島の北。<br>
暮らすように過ごす時間。<br>
自然の中へ<br>
無垢の木に包まれた中に<br>
溶け込む青色、藍色。<br>
穏やかなくつろぎ。<br>
海風と調和する、木の舎。</p></div><div class="StaySection"><div class="StaySection-Frame" style="background: url('./resources/images/Components/StaySection/StaySection-Frame.jpg') no-repeat center; background-size: cover;"><div class="StaySection-Frame-Inner"><div class="StaySection-Frame-Inner-TextBox"><div class="StaySection-Frame-Inner-TextBox-Text U_PC_Tategaki">木と、青と藍色</div></div><div class="StaySection-Frame-Inner-TitleBox"><div class="StaySection-Frame-Inner-TitleBox-JaText">客室</div><div class="StaySection-Frame-Inner-TitleBox-EnText">stay</div></div></div></div></div><div class="LandscapeSection"><div class="LandscapeSection-Frame" style="background: url('./resources/images/Components/LandscapeSection/landscape_bg.jpeg') no-repeat center; background-size: cover;"><div class="LandscapeSection-Frame-Inner"><div class="LandscapeSection-Frame-Inner-TextBox"><div class="LandscapeSection-Frame-Inner-TextBox-Text">島に夜景に佇む</div></div><div class="LandscapeSection-Frame-Inner-TitleBox"><div class="LandscapeSection-Frame-Inner-TitleBox-JaText">周辺</div><div class="LandscapeSection-Frame-Inner-TitleBox-EnText">Landscape</div></div></div></div></div><div class="ActivitySection"><div class="ActivitySection-Frame" style="background: url('./resources/images/Components/ActivitySection/activity_bg.jpeg') no-repeat center; background-size: cover;"><div class="ActivitySection-Frame-Inner"><div class="ActivitySection-Frame-Inner-TextBox"><div class="ActivitySection-Frame-Inner-TextBox-Text U_PC_Tategaki">自然の中へ</div></div><div class="ActivitySection-Frame-Inner-TitleBox"><div class="ActivitySection-Frame-Inner-TitleBox-JaText">アクティビティ</div><div class="ActivitySection-Frame-Inner-TitleBox-EnText">Activity</div></div></div></div></div><div class="AccessSection"><div class="AccessSection-Frame" style="background: url('./resources/images/Components/AccessSection/map.jpg') no-repeat center; background-size: cover;"><div class="AccessSection-Frame-Inner"><div class="AccessSection-Frame-Inner-LogoBox" style="background: url('./resources/images/Components/AccessSection/AccessSection-Frame-Inner-LogoBox.png') no-repeat center; background-size: contain;"></div><div class="AccessSection-Frame-Inner-TitleBox"><div class="AccessSection-Frame-Inner-TitleBox-JaText">アクセス</div><div class="AccessSection-Frame-Inner-TitleBox-EnText">access</div></div></div></div></div><section class="SlideContentsSection"><div class="swiper-button-prev SlideContentsSection-SideBtnGroup-PrevBtnItem"></div><div class="swiper-button-next SlideContentsSection-SideBtnGroup-NextBtnItem"></div><div class="swiper-container"><ul class="swiper-wrapper"><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名1</div></div></div></li><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名2</div></div></div></li><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名3</div></div></div></li><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名4</div></div></div></li><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名5</div></div></div></li><li class="swiper-slide"><div class="SlideContentsSection-Card"><div class="SlideContentsSection-Card-ImgFrame" style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;"><div class="SlideContentsSection-Card-ImgFrame-Inner"></div></div><div class="SlideContentsSection-Card-TextBox"><div class="SlideContentsSection-Card-TextBox-Text">グループホテル名6</div></div></div></li></ul></div></section><div class="LogoSection"><div class="LogoSection-LogoBox" style="background: url('./resources/images/Components/LogoSection/LogoSection-LogoBox.png') no-repeat center; background-size: contain;"></div></div><footer class="FooterSection"><div class="FooterSection-Inner"><div class="FooterSection-Inner-Address"><div class="FooterSection-Inner-Address-Img" style="background: url('./resources/images/Components/FooterSection/FooterSection-Inner-Address-Img.png') no-repeat center; background-size: contain;"></div><div class="FooterSection-Inner-Address-Text">〒541-0058<br>
大阪府大阪市中央区南久宝寺町四丁目5-17アップウェル船場2F</div></div><a class="FooterSection-Inner-Tel" href="tel:06-6253-8262">06-6253-8262</a><div class="FooterSection-Inner-TextBox">■■■■■■■■■■■■■■■■■■■■■■■■<br>
■■■■■■■■■■■■■■■■■■■■■■■■<br>
■■■■■■■■■■■■■■■■■■■■■■■■</div></div></footer></div><div class="SNSFooterLayer"><div class="SNSNavSection"><div class="SNSNavSection-IconGroup"><a class="SNSNavSection-IconGroup-Item" href=""><i class="class fab fa-instagram SNSNavSection-IconGroup-Item-Icon"></i><div class="SNSNavSection-IconGroup-Item-Text">Instagram</div></a><a class="SNSNavSection-IconGroup-Item" href=""><i class="class fab fa-twitter SNSNavSection-IconGroup-Item-Icon"></i><div class="SNSNavSection-IconGroup-Item-Text">Twitter</div></a><a class="SNSNavSection-IconGroup-Item" href=""><i class="fab fa-facebook SNSNavSection-IconGroup-Item-Icon"></i><div class="SNSNavSection-IconGroup-Item-Text">Facebook</div></a></div><a class="SNSNavSection-TelBtn" href="tel:06-6253-8262"><i class="class fas fa-phone-alt SNSNavSection-TelBtn-Icon"></i><div class="SNSNavSection-TelBtn-Text">電話する</div></a></div></div><div class="SideNavLayer"><div class="SideNavSection"><div class="SideNavSection-NavGroup"><div class="SideNavSection-NavGroup-NavItem"><div class="SideNavSection-NavGroup-NavItem-Text U_Tategaki">会員募集</div></div><div class="SideNavSection-NavGroup-NavItem"><div class="SideNavSection-NavGroup-NavItem-Text U_Tategaki">宿泊予約</div></div></div></div></div><div class="SideSNSLayer"><div class="SideSNSSection"><a class="SideSNSSection-SNSText" href="">Instagram</a><a class="SideSNSSection-SNSText" href="">Twitter</a><a class="SideSNSSection-SNSText" href="">Facebook</a><a class="SideSNSSection-SNSText" href="">(Contact)</a></div></div></div><script src="./resources/vendor/jquery/jquery-3.3.1.min.js"></script><script src="./resources/vendor/swiper/swiper.min.js"></script><script src="./resources/scripts/Pages/index.js"></script></body></html>

index.pug
doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        title MIYAZAKI
        link(href="./resources/vendor/fontawesome-free-5.12.0-web/css/all.css", rel="stylesheet")
        link(rel="stylesheet" href="./resources/vendor/swiper/swiper.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css")
        link(rel='stylesheet', href='./resources/styles/Pages/index.css')
    body
        .Page
            .HeaderLayer
                include Components/HeaderSection
            .MenuLayer
                include Components/MenuSection
            .BodyLayer
                include Components/BigImageSection
                include Components/NewsSection
                include Components/AboutSection
                include Components/ConseptSection
                include Components/StaySection
                include Components/LandscapeSection
                include Components/ActivitySection
                include Components/AccessSection
                include Components/SlideContentsSection
                include Components/LogoSection
                include Components/FooterSection

            .SNSFooterLayer
                include Components/SNSNavSection
            .SideNavLayer
                include Components/SideNavSection
            .SideSNSLayer
                include Components/SideSNSSection
        script(src='./resources/vendor/jquery/jquery-3.3.1.min.js')
        script(src="./resources/vendor/swiper/swiper.min.js")
        script(src='./resources/scripts/Pages/index.js')
