Components/AboutSection.html
<div class="AboutSection"><div class="AboutSection-Frame" style="background: url('./resources/images/Components/AboutSection/20191228170427354.png') no-repeat center; background-size: cover;"><div class="AboutSection-Frame-Inner"><div class="AboutSection-Frame-Inner-TextBox"><div class="AboutSection-Frame-Inner-TextBox-Text">鮮烈な青と砦</div></div><div class="AboutSection-Frame-Inner-TitleBox"><div class="AboutSection-Frame-Inner-TitleBox-JaText">島木の舎<br>について</div><div class="AboutSection-Frame-Inner-TitleBox-EnText">toki no yado</div></div></div></div></div>

Components/AboutSection.pug
.AboutSection
    .AboutSection-Frame(style="background: url('./resources/images/Components/AboutSection/AboutSection-Frame.jpg') no-repeat center; background-size: cover;")
        .AboutSection-Frame-Inner
            .AboutSection-Frame-Inner-TextBox
                .AboutSection-Frame-Inner-TextBox-Text 鮮烈な青と碧
            .AboutSection-Frame-Inner-TitleBox
                .AboutSection-Frame-Inner-TitleBox-JaText 島木の舎<br>について
                .AboutSection-Frame-Inner-TitleBox-EnText toki no Villa
