Components/AccessSection.pug
.AccessSection
    .AccessSection-Frame(style="background: url('./resources/images/Components/AccessSection/map.jpg') no-repeat center; background-size: cover;")
        .AccessSection-Frame-Inner
            .AccessSection-Frame-Inner-LogoBox(style="background: url('./resources/images/Components/AccessSection/AccessSection-Frame-Inner-LogoBox.png') no-repeat center; background-size: contain;")
            .AccessSection-Frame-Inner-TitleBox
                .AccessSection-Frame-Inner-TitleBox-JaText アクセス
                .AccessSection-Frame-Inner-TitleBox-EnText access

Components/AccessSection.html
<div class="AccessSection"><div class="AccessSection-Frame" style="background: url('./resources/images/Components/AboutSection/20191229164954189.png') no-repeat center; background-size: cover;"><div class="AccessSection-Frame-Inner"><div class="AccessSection-Frame-Inner-LogoBox" style="background: url('./resources/images/Components/AboutSection/20191229164954189.png') no-repeat center; background-size: cover;"></div><div class="AccessSection-Frame-Inner-TitleBox"><div class="AccessSection-Frame-Inner-TitleBox-JaText">アクセス</div><div class="AccessSection-Frame-Inner-TitleBox-EnText">access</div></div></div></div></div>
