Components/ActivitySection.pug
.ActivitySection
    .ActivitySection-Frame(style="background: url('./resources/images/Components/ActivitySection/activity_bg.jpeg') no-repeat center; background-size: cover;")
        .ActivitySection-Frame-Inner
            .ActivitySection-Frame-Inner-TextBox
                .ActivitySection-Frame-Inner-TextBox-Text.U_PC_Tategaki 自然の中へ
            .ActivitySection-Frame-Inner-TitleBox
                .ActivitySection-Frame-Inner-TitleBox-JaText アクティビティ
                .ActivitySection-Frame-Inner-TitleBox-EnText Activity

Components/ActivitySection.html
<div class="ActivitySection"><div class="ActivitySection-Frame" style="background: url('./resources/images/Components/AboutSection/20191229164954189.png') no-repeat center; background-size: cover;"><div class="ActivitySection-Frame-Inner"><div class="ActivitySection-Frame-Inner-TextBox"><div class="ActivitySection-Frame-Inner-TextBox-Text"> </div></div><div class="ActivitySection-Frame-Inner-TitleBox"><div class="ActivitySection-Frame-Inner-TitleBox-JaText">アクティビティ</div><div class="ActivitySection-Frame-Inner-TitleBox-EnText">Activity</div></div></div></div></div>
