Components/HeaderSection.pug
header.HeaderSection
    .HeaderSection-Inner
        .HeaderSection-Inner-LogoBox
            .HeaderSection-Inner-LogoBox-Img(style="background: url('./resources/images/Components/HeaderSection/HeaderSection-Inner-LogoBox-Img.png') no-repeat center; background-size: contain;")
        ul.HeaderSection-Inner-NavGroup
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 島木の舎について
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 寝室
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 周辺
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text アクティビティ
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text アクセス
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text お問い合わせ
            li.HeaderSection-Inner-NavGroup-NavItem
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text EN
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text 中
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text 日
        .HeaderSection-Inner-HamburgerMenuBtn
            i.fas.fa-bars.HeaderSection-Inner-HamburgerMenuBtn-Icon

Components/HeaderSection.html
<div class="HeaderSection"><div class="HeaderSection-Inner"><div class="HeaderSection-Inner-LogoBox"><div class="HeaderSection-Inner-LogoBox-Img"></div></div><div class="HeaderSection-Inner-NavGroup"><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">島木の舎について</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">客室</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">周辺</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">アクティビティ</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">アクセス</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">お問い合わせ</div></div><div class="HeaderSection-Inner-NavGroup-NavItem"><div class="HeaderSection-Inner-NavGroup-NavItem-Text">EN | 中</div></div></div><div class="HeaderSection-Inner-HamburgerMenuBtn"><i class="fas fa-bars HeaderSection-Inner-HamburgerMenuBtn-Icon"></i></div></div></div><div class="BigImageSection"><div class="BigImageSection-ImgBox"><div class="BigImageSection-ImgBox-Frame"><div class="BigImageSection-ImgBox-Frame-Inner"><div class="BigImageSection-ImgBox-Frame-Inner-TextBox"><div class="BigImageSection-ImgBox-Frame-Inner-TextBox-Text">2020年秋OPEN</div></div><div class="BigImageSection-ImgBox-Frame-Inner-LogoBox"><div class="BigImageSection-ImgBox-Frame-Inner-LogoBox-Icon"></div></div></div></div></div></div>
