Components/MenuSection.html
<div class="MenuSection"><div class="MenuSection-ListGroup"><a class="MenuSection-ListGroup-ListItem" href="./about.html"><span class="MenuSection-ListGroup-ListItem-MediumText">島木の舎について</span></a><a class="MenuSection-ListGroup-ListItem" href="./about.html"><span class="MenuSection-ListGroup-ListItem-MediumText">寝室</span></a><a class="MenuSection-ListGroup-ListItem" href="./service.html"><span class="MenuSection-ListGroup-ListItem-MediumText">周辺</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">アクティビティ</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">アクセス</span></a><a class="MenuSection-ListGroup-ListItem" href="./contact.html"><span class="MenuSection-ListGroup-ListItem-MediumText">お問い合わせ</span></a><div class="MenuSection-ListGroup-ListItem"><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">EN</a><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">中</a><a class="MenuSection-ListGroup-ListItem-MediumText" href="./contact.html">日</a></div></div></div>

Components/MenuSection.pug
nav.MenuSection
    .MenuSection-ListGroup
        a(href="./about.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 島木の舎について
        a(href="./about.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 寝室
        a(href="./service.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 周辺
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText アクティビティ
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText アクセス
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText お問い合わせ
        div.MenuSection-ListGroup-ListItem
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText EN
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText 中
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText 日
